:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(109, 19, 212);
  color: white;
  height: 8vh;
  width: 100vw;
}

.header > h2 {
  padding-left: 1rem;
}

.header > div {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  padding-right: 2rem;
  margin-top: 0.5rem;
}

/* Explore */

.explore {
  text-align: center;
  color: white;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.explore > h1 {
  font-size: 36px;
  margin: 0;
  padding-top: 10rem;
}

/* Copyright */
.copyright {
  height: 2vh;
  text-align: center;
  font-size: 13px;
  margin: 0;
}

/* Launches */
.launches {
  background-color: rgb(243, 182, 29);
}

.launches > h1 {
  margin: 0;
  height: 6vh;
  padding-top: 1rem;
  padding-left: 1rem;
}

/* API */
.api {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#api-data {
  width: 80vw;
  height: 35vh;
  background-color: rgb(238, 229, 229);
  border-radius: 5px;
}

button {
  height: 5vh;
  width: 5vw;
}

#button-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(243, 182, 29);
}

#button-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(243, 182, 29);
}

.mission-name {
  text-align: center;
  font-size: 20px;
}

/* Mission */
.mission {
  text-align: center;
  background-color: rgb(215, 200, 243);
  height: 25vh;
  font-size: 19px;
}

.mission > h1 {
  margin: 0;
  font-size: 28px;
  padding-top: 1rem;
}

/* Footer */
.footer {
  background-color: rgb(109, 19, 212);
  text-align: center;
  color: lightgray;
  height: 6vh;
  padding-top: 2rem;
}
